@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
.logo {
  margin: 15% auto;
}

.input-label {
  color: hsl(186deg, 14%, 43%);
  font-size: 60%;
}

.form-control {
  background-color: hsl(189deg, 41%, 97%) !important;
  border-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
}
.form-control::-moz-placeholder {
  color: hsl(185deg, 41%, 84%);
}
.form-control:-ms-input-placeholder {
  color: hsl(185deg, 41%, 84%);
}
.form-control::placeholder {
  color: hsl(185deg, 41%, 84%);
}
.form-control:focus {
  background-color: hsl(189deg, 41%, 97%);
  box-shadow: none;
  border: 2px solid;
  border-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
.form-control#bill-input {
  background: url("../images/icon-dollar.svg") no-repeat left;
  background-position: 5%;
}
.form-control#num-ppl-input {
  background: url("../images/icon-person.svg") no-repeat left;
  background-position: 5%;
}
.form-control#tip-percent-input::-moz-placeholder {
  color: hsl(184deg, 14%, 56%);
}
.form-control#tip-percent-input:-ms-input-placeholder {
  color: hsl(184deg, 14%, 56%);
}
.form-control#tip-percent-input::placeholder {
  color: hsl(184deg, 14%, 56%);
}

.calculator {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 20px;
  margin: auto;
  padding: 3%;
}

.btn {
  width: 100%;
  background-color: hsl(183deg, 100%, 15%);
  border-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
}
.btn:focus {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  box-shadow: none;
  border-color: hsl(172deg, 67%, 45%);
}

.result {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 20px;
}
.result .row {
  font-size: 1rem;
}
.result .row div:nth-child(2) {
  font-size: 2rem;
  color: hsl(172deg, 67%, 45%);
}
.result .btn {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
.result .btn:hover {
  background-color: hsl(185deg, 41%, 84%);
}

.unit {
  color: hsl(184deg, 14%, 56%);
  margin-top: -8%;
}

@media (min-width: 992px) {
  .calculator {
    max-width: 60%;
    margin-bottom: 15%;
  }
  .logo {
    margin: 5% auto;
  }
  .btn:hover {
    background-color: hsl(185deg, 41%, 84%);
    color: hsl(183deg, 100%, 15%);
    border: hsl(185deg, 41%, 84%);
  }
  .result .row div:nth-child(2) {
    font-size: 2.5rem;
  }
  .result .btn {
    margin-top: 22%;
  }
  #tip-percent-input::-moz-placeholder {
    font-size: 1.4rem;
  }
  #tip-percent-input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  #tip-percent-input::placeholder {
    font-size: 1.4rem;
  }
}
body {
  font-family: "Space Mono", monospace;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(185deg, 41%, 84%);
  font-size: 24px;
}

label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.selected {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  box-shadow: none;
  border-color: hsl(172deg, 67%, 45%);
}

.invalid-value-mess {
  color: hsl(0deg, 0%, 100%);
}/*# sourceMappingURL=styles.css.map */