@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import 'variables';
@import 'mobile';
@import 'desktop';

body{
    font-family: $font-family;
    color: $White;   
    background-color: $Light-grayish-cyan; 
    font-size: $font-size;
}


